<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container maincontainer">
    <div class="row">
        <div class="view">
            <div class="container">
                
                <form class="form" name="form" ng-submit="addProfile(form)" novalidate>
                    <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
                        <div class="profileTemplate">
                            
                            <br />
                            <div class="row">
                                <!--Profile Input Column -->
                                <div class="col-md-5">
                                    <div class="row">
                                        <header>
                    <h3>
                       &nbsp;&nbsp;<span class="glyphicon glyphicon-edit"></span>Add Profile</h3>
                </header>
                <br>
                                <div class="col-md-2">Name:</div>
                                <div class="col-md-8">
                                    <!-- Name -->
                                    <input type="text" name="name" class="form-control" ng-model="frmProfile.name" required/>
                                    <p class="help-block" ng-show="form.name.$error.required && submitted">A name is required</p>
                                    </span>
                                </div>
                            </div>
                                    <div class="row">
                                        <div class="col-md-2">Gender:</div>
                                        <div class="col-md-8">
                                            <div class="radio">
                                                <label class="radio">
                                                    <input type="radio" name="gender" value="Male" data-ng-checked="frmProfile.gender == 'Male'" data-ng-model="frmProfile.gender"
                                                    />Male</label>
                                            </div>
                                            <div class="radio">
                                                <label class="radio">
                                                    <input type="radio" name="gender" value="Female" data-ng-checked="frmProfile.gender == 'Female'" data-ng-model="frmProfile.gender"
                                                    />Female
                                                    <br />
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-2">Age:</div>
                                        <div class="col-md-8">
                                            <div class="radio">
                                                <label class="radio">
                                                    <input type="radio" name="age" value="M12MonthAndUnder" data-ng-checked="frmProfile.age == 'M12MonthAndUnder'" data-ng-model="frmProfile.age"
                                                    />12 months and under</label>
                                            </div>
                                            <div class="radio">
                                                <label class="radio">
                                                    <input type="radio" name="age" value="13MonthTo5Years" data-ng-checked="frmProfile.age == '13MonthTo5Years'" data-ng-model="frmProfile.age"
                                                    />13 months-5 years
                                                    <br />
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label class="radio">
                                                    <input type="radio" name="age" value="5to11Years" data-ng-checked="frmProfile.age == '5to11Years'" data-ng-model="frmProfile.age"
                                                    />5 years- 11 years
                                                    <br />
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label class="radio">
                                                    <input type="radio" name="age" value="12YearsAndOver" data-ng-checked="frmProfile.age == '12YearsAndOver'" data-ng-model="frmProfile.age"
                                                    />12 years and over
                                                    <br />
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-4">Nursing/Pregnant:</div>
                                        <div class="col-md-5">
                                            <input type="checkbox" name="pregnant" ng-model="frmProfile.pregnant" ng-true-value="1" ng-false-value="0">
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">                                        
                                        <div class="col-md-4">
                                            <button class="btn btn-inverse btn-lg" type="submit">Save Profile</button>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-inverse btn-lg" type="submit">Clear</button>
                                        </div>
                                    </div>
                                </div>
                                <!--Profile Tab Control -->
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <ul class="list-group">
                                                <tabset>
                                                    <tab ng-repeat="profile in profiles | orderBy:'-createdAt'" heading="{{profile.profilename}}" >
                                                        <div ng-controller="ProfilesCtrl" ng-init="profile=profile" class="list-group-item">
                                                            <span class="text-muted">Age: {{profile.age}}</span>
                                                            <br>
                                                            <span class="text-muted"></span>
                                                            <div ng-attr-id={{profile.avatar}}></div>
                                                            <br>
                                                            <span class="text-muted">Gender: {{profile.gender}}</span>
                                                            <br>
                                                            <a ng-click="me(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
                                                            <ul class="list-group">
                                                                <br>
                                                                <strong>Allergens:</strong>
                                                                <br>
                                                                <li class="list-group-item" ng-repeat="allergen in profile.allergens">
                                                                    <strong>{{allergen.name}}</strong>
                                                                    <a ng-click="me(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </tab>
                                                </tabset>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                            <br>
                            <br />
                            <div class="statusRow">
                                <br />
                                <div class="label label-success" data-ng-show="vm.updateStatus">
                                    <span class="glyphicon glyphicon-thumbs-up icon-white"></span>&nbsp;&nbsp;Profile Added!</div>
                            </div>
                            <div class="statusRow">
                                <br />
                                <div class="label label-important" data-ng-show="vm.errorMessage">
                                    <span class="glyphicon glyphicon-thumbs-down icon-white"></span>&nbsp;&nbsp;Error: {{ vm.errorMessage }}</div>
                            </div>
                        </div>
                </form>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
</div>